# Este archivo es un ejemplo. Copiar a .env y rellenar las variables.
# No subir .env a git.

# GCP
GCP_PROJECT="tu-gcp-project-id"

# Database
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_USER="auth_service_user"
DB_PASSWORD="una-contraseña-muy-segura"
DB_NAME="user_management_db"

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
